footer.footer
  .container
    .footer__row
      .footer__logo
        a.footer__link-logo
          picture
            source(
              srcset="./images/footer-logo.webp, ./images/footer-logo@2x.webp 1.5x",
              type="image/webp"
            )
            img(
              srcset="./images/footer-logo.png, ./images/footer-logo@2x.png 1.5x",
              src="./images/footer-logo.png",
              width="100",
              height="33",
              alt="Логотип"
            )
      .footer__menu
        ul.footer-menu
          li.footer-menu__item
            a.footer-menu__link(href="#")
              span Каталог
          li.footer-menu__item
            a.footer-menu__link(href="#")
              span Доставка и оплата
          li.footer-menu__item
            a.footer-menu__link(href="#")
              span Отзывы
          li.footer-menu__item
            a.footer-menu__link(href="#")
              span Спецпредложения
          li.footer-menu__item
            a.footer-menu__link(href="#")
              span Контакты
      .footer__social
        include ../social/social.pug
        +social('light')
