section.discount
  .container
    .discount__wrapper
      .discount__row
        .discount__information
          h2.discount__title Скидка 10% на первый заказ
          p.discount__description Если заказываете у нас букет впервые — при оформлении заказа введите промокод «Botanika2021» и получите скидку 10%
        .discount__image
          picture
            source(
              srcset="./images/content/bouquet-7.webp 1x, ./images/content/bouquet-7@2x.webp 1.5x",
              type="image/webp"
            )
            img(
              srcset="./images/content/bouquet-7.jpg 1x, ./images/content/bouquet-7@2x.jpg 1.5x",
              src="./images/content/bouquet-7.jpg",
              width="590",
              height="391",
              alt="Букет"
            )
